*.ytimg.com 
*.youtube.com
*.google.com
*.googlevideo.com
*.ggpht.com
*.googleusercontent.com
*.gstatic.com
*.ajax.googleapis.com
*.android.com
*.twitch.tv
*.ttvnw.net
*.twitter.com
*.twimg.com
*.facebook.com
*.fbcdn.net
*.tumblr.com
*.rawgit.com
*.91yun.org
*.yahoo.com
*.cdninstagram.com
*.facebook.net
*.abc.com
*.hbo.com
*.line-scdn.net
*.line.me
*.telegram.org
*.reddit.com
*.redditmedia.com
*.redd.it
*.github.com
